const config = {};

config.matrix_api_url = 'https://matrix.org/_matrix/client/r0';

// Put your api token here, so it wont be created on every api call
config.matrix_api_token = "";

// Optional: enter username and password of a real matrix.org user to use that account for api calls
// Otherwise an anonymous api token will be generated (which seems to work exactly as good)
config.matrix_user = ''
config.matrix_pass = ''

// If the room_id changes, then the hash-room name can be used instead,
// but it will make one more api call per script run:
//   config.matrix_room_name = '#codeformuenster-events:matrix.org';
config.matrix_room_name = '!tuOLfhLLphPDUwtDmC:matrix.org';

config.generate_matrix_avatar_url = (avatar_url) => `https://matrix.muensterhack.de/_matrix/media/v1/thumbnail/${avatar_url}?width=40&height=40`;

// Pass config values to main program
module.exports = config;